name: prek

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
        types:
            - opened
            - reopened
            - synchronize

jobs:
    prek:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt, clippy

            - name: Setup Rust cache
              uses: Swatinem/rust-cache@v2

            - name: prek
              uses: j178/prek-action@v1
