name: release-plz-pr

on:
  push:
    branches:
      - main
    paths-ignore:
      - "CHANGELOG.md"
      - "multiio/CHANGELOG.md"
      - "**/Cargo.toml"
      - "Cargo.lock"
      - "README*.md"
  schedule:
    - cron: "0 0 * * MON"
  workflow_dispatch:

jobs:
  release-plz-pr:
    name: Create Release PR
    runs-on: ubuntu-latest
    permissions: {}
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - name: Generate GitHub token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run release-plz PR
        id: release_plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
